@model AtividadePW2_Relacionamento1_N.Models.tblEmprestimo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emprestimo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Data de emprestimo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEmprestimo)
        </dd>

        <dt>
            Data de devolução
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblLivro.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblLivro.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Emprestimo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
